// Main styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

._container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  min-width: 250px;
  padding: 10px 20px;
  border: 2px solid #457699;
  border-radius: 6px;
  color: #457699;
  background: none;
  outline: none;
  cursor: pointer;
  transition: .2s ease-in-out;
  margin-top: 10px;

  &:hover {
    background-color: #457699;
    color: #fff;
  }
}

.input {
  width: 250px;
  padding: 15px 20px;
  margin: 5px 0;
  border: 1px solid #808080;
  border-radius: 4px;
  transition: all .2s ease-in-out;

  &:disabled {
    background-color: #eee;
  }

  &::placeholder {
    color: #B9B9B9;
  }

  &:focus {
    border: 1px solid #436187;
    outline: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
  }
}

// Header
.header {
  height: 60px;
  border-bottom: 1px solid #ccc;

  &__container {
    width: 100%;
    max-width: 1920px;
    height: 100%;
    padding: 0 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 22px;
    text-decoration: none;
    color: #000;
  }

  &__auth {
    color: #ebebeb;

    a {
      text-decoration: none;
      color: #898989;
      transition: .15s ease-in-out;

      &:hover {
        color: #0c76c2;
      }
    }
  }
}

// Sign In
.signin {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;

  h1 {
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 15px;
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
  }

  a.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  a.btn-cancel {
    border-color: rgb(175, 54, 54);
    color: rgb(175, 54, 54);

    &:hover {
      background-color: rgb(175, 54, 54);
      color: #fff;
    }
  }
}

